.detailsButton {
    background-color: #3f77c0;
    color: white;
}
.detailsButton :hover {
    background-color: #0a3e83;
}
.editButton {
    background-color: #2eac2a;
    color: white;
    }
.editButton :hover {
    background-color: #075f04;
}