mat-grid-tile { transition: all .2s ease; }
mat-grid-tile:hover { transform: scale(1.1); }

mat-card {
    height: 50vh;
    max-width: 350px;    
}
mat-toolbar {
    font-size: 30px;
}
img {
    background-size: cover;
    margin-left: 20%;
    width: auto;
    height: 55%;
    overflow: hidden;
    
}
