<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav">
    <button color="primary" mat-button [routerLink]="['/home']" routerLinkActive="router-link-active" >
      <i class="material-icons">
      home</i> Главная</button>
    <button color="primary" mat-button [routerLink]="['/books']" >
      <i class="material-icons">
      book
      </i> Книги</button>
    <button color="primary" mat-button [routerLink]="['/add-book']" >
      <i class="material-icons">
      library_books
      </i> Добавить книгу</button>
    <button color="primary" mat-button [routerLink]="['/search']" >
      <i class="material-icons">
      search
      </i> Поиск</button>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
          <button mat-icon-button (click)="drawer.toggle()">
              <mat-icon>menu</mat-icon>
            </button>

          <span class="title">Book search app</span>
          <span class=spacer></span>
          <mat-icon>book</mat-icon>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>publish</mat-icon>
              <span>Share</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>mode_comment</mat-icon>
              <span>Connect</span>
            <button mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
            </button>
          </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>


