mat-drawer-container {
    width: 100vw !important;
}
.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
button {
    margin-top: 10px;
   outline: none;
}
.title {
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    font-size: 35px;
    margin-left: 30px;
}
.container .mat-drawer {
    min-width: 200px;
}

.container .mat-drawer .mat-button {
    display: block;
    width: 100% !important;
    text-align: left;
}

.spacer {
    flex: 1 1 auto;
}