<div class="searchForm">
<mat-form-field> 
  <input matInput name="searchInput" placeholder="Поиск" #searchInput="ngModel" [(ngModel)]="searchText" >
</mat-form-field>
<table mat-table>
  <ng-container>
    <th mat-header-cell>Автор</th>
    <th mat-header-cell>Название</th>
    <th mat-header-cell>Дата выхода книги</th>
    <th></th>
  </ng-container>
  <ng-container *ngFor="let book of allbooks">
    <tr mat-header-row  *ngIf="filterCondition(book)">
      <td mat-cell>{{book.author}}</td>
      <td mat-cell>{{book.title}}</td>
      <td mat-cell>{{book.releaseDate}}</td>
      <button [routerLink]="['/books']" mat-raised-button class="allBookButton"> <i class="material-icons">view_module</i> Перейти</button>
    </tr>
  </ng-container>
</table>
</div>

