@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
     font-family: Roboto, sans-serif;
     width: 100vw;
     margin: 0 auto;
     overflow:  hidden;
 }
li { 
    list-style: none; 
}
td{ 
    padding-right: 50px;
 }

.full-width { width: 100%; }
.half-width { width: 50%; }
.third-width{ width: 75%; }
.quarter-width{ width: 25%; }

mat-grid-tile{
    box-shadow: 10px 10px 5px #888888;
    margin: 1em auto;
}

.full-heigth {
    height: -moz-calc(100% - 64px); 
    height: -webkit-calc(100% - 64px); 
    height: calc(100% - 64px);
}

.add-book-form {
    width: 40%;
    margin:0 auto;
    padding: 2em;
    box-shadow: 0 0 1px black;
}

.edit-book-form{
    width: 40%;
    margin:0 auto;
    padding: 2em;
    box-shadow: 0 0 1px black;
}


.left{float: left}
.right{float: left; padding: 25px;}

.delete-confirm{margin:0 auto; width: 40%;}
.details-book{ margin:0 auto; width: 60%;height: 100vh }
.bookTile{padding:25px auto;}
.editButton, .createButton {
    color :white !important;
    background-color: #2eac2a;
}
.editButton:hover, .createButton:hover {
    background-color: #075f04;
}

.detailsButton{
    color :white !important;
    background-color: #3f77c0;
}

.detailsButton:hover {
    background-color: #0a3e83;
}
.allBookButton, .backButton {
        color :white !important;
        background-color: #8c76f0;
    }
.allBookButton:hover, .backButton:hover {
        background-color: #4222f3;
    }

.appTitle{margin:0 auto; width: 70%;}
.appTitleDiv{
    color :white !important; 
    background-color: rgb(113, 167, 255);
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 30px;
}

div.appTitleDiv > h1{
font-size: 200%;
}
  .spinner{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
  }
  
