img {
    width: auto;
    height: 300px;
}

.saveChangesButton {
        color :white !important;
        background-color: #cfdd08;
    }
.saveChangesButton:hover {
        background-color: #beb206;
    }

